nav {
  float: left;
  font-size:22px;
}

aside {
  float: right;
}

header {
  font-size: 38px;
  text-align: center;
}

* {
  font-family: impact;
}
header{
  background-color: black;
  color: darkred;
  border-radius: 10px;
}
aside {
     width: 30%;
     vertical-align: top;
     float: right;
     background-color:;
     font-size: 75px;
     float: right;
     margin: 0 1.5%;
     top: 18%;
     left: 67%;
     position: absolute;
     z-index: 9000;
}
img {
  width: 30%;
  height: auto;
  width: auto\9;
  margin: 0px 50px;
  border-radius: 30px;
}
article {
  padding-left: 250px;
  font-size: 22px;
}
h3 {
  font-size: 35px;
  color: darkred;
}
.form {
  font-size: 20px;
}
footer {
  font-size: 25px;
  text-align: center;
}
body {
  background: linear-gradient(gray, white);
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover{
  color: goldenrod;
}
